
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1 {
  font-size: 90px;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 35px;
  padding-bottom: 10px;
}
a {
  color: #11999E;
}
.student {
  font-weight: normal;
}
h3 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}
p {
  font-size: 25px;
  line-height: 2;
}
.class {
  width: 30%;
  margin: auto;
}
.boy {
  width: 25%;
}
.html {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.middle-container {
  margin: 100px 0;
}
.bird {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.top-contanier{
  background-color: #cffffe;
  position: relative;
  padding-top: 100px;
}
.cube {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.right{
  color: #11999E;
}
.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.left {
  color: #11999E;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(top bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
